.grid {
    border: 1px solid;
    height: 240px;
    width: 288px;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    border: 1px solid;
    height: 40px;
    width: 40px;
    /* border: 1px solid; */
}

.player-one {
    background-color: red;
    border-radius: 20px;
}

.player-two {
    background-color: blue;
    border-radius: 20px;
}